

.posts {
    overflow-y: scroll;
    position: sticky;
}


    .card {
        /* Add shadows to create the "card" effect */
        transition: 0.3s;
        width: 31%;
        padding-top: 10px;
        margin-top: 10px;
        margin-bottom: 10px;
        margin-left: 10px;
        background-color: #FFF;
        border-color: #ffaf00;
        border: 10px;
        color: #ffaf00;
        box-shadow: 0 0 5px #333;
        /* display: none; */
        
      }
      .card h2 {
          color: #808000;
      }
