.Content {
    position: relative;
    background-color: #210003;
    height: 500px;
    width: auto;
    text-align: center;
    top: 960px;
}
.Content h3 {
  text-align: center;
  color: #ffaf00;
  font-size: 30px;
  line-height: 2em;
}

.Content  button {
      position: relative;
      width: 200px;
      height: 100px;
      cursor: pointer;
      background: #210003;
      margin: 10px;
      border: none;
      border-radius: 10px;
      box-shadow: -5px -5px 15px #444, 5px 5px 15px #222, inset 5px 5px 10px #444, inset -5px -5px 10px #222;
      color: #ffaf00;
      font-size: 16px;
      justify-content: center;
      bottom: 25px;
      top: 150px;
  }
  
.Content button:hover {
      box-shadow: -5px -5px 15px #444, 5px 5px 15px #222, inset 5px 5px 10px #222, inset -5px -5px 10px #444;
      font-size: 15px;
      transition: 500ms;
  }
  
 .Content button:focus {
      outline: none;
  }


  
 
 
