.Content {
    position: relative;
    background-color: #210003;
    height: 1000px;
    width: auto;
    text-align: center;
    top: 960px;


}
.Content  p {
  position: relative;
  top: 75px;
  text-align: center;
  color: #ffe473;
  line-height: 2em;
  font-size: 30px;
  font-weight: 200;

}


  .yellow {
    color: #df711e;
  }

  .slider {
    z-index: 20;
  }

  .btn-register {
    position: relative;
    top: 20%;
  }




  
 
 
