.keyart, .keyart_layer {
      height: 1000px;
}
  
#parallax {
      display: block;
}
  
.keyart {
      position: relative;
      width: 100%;
      height: 100%;
}
  
.keyart_layer {
      background-position: bottom center;
      background-repeat: repeat-x;
      width: 100%;
      position: absolute;
}
.keyart_layer.parallax {
      position: fixed;
}
#keyart-0 {
    background-image: url('');
    background-color: #ffaf1b;
}
#keyart-1 {
    background-image: url('./images/parallax0.png');
}
#keyart-2 {
    background-image: url('./images/ALSHAREK2.png');
}
#keyart-3 {
    background-image: url('./images/parallax3.png');
}
#keyart-4 {
    background-image: url('./images/parallax4.png');
}
#keyart-5 {
    background-image: url('./images/parallax5.png');
}
#keyart-6 {
    background-image: url('./images/parallax6.png');
}
#keyart-7 {
    background-image: url('./images/parallax7.png');
}
#keyart-8 {
    background-image: url('./images/parallax8.png');
}
#keyart-scrim {
    background-color: #ffaf00;
    opacity: 0;
}


button {
    position: absolute ;
    width: 100px;
    height: 50px;
    cursor: pointer;
    background: rgba(0, 151, 19, 0.1);
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    margin: 10px;
    border: none;
    color: white;
    font-size: 16px;
    justify-content: center;
    bottom: 25px;
    top: 10px;
    z-index: 15;
    right: 1%;
    text-decoration: none;
}
.button1 {
    position: absolute;
    right: 9%;
    margin-right: 5px;
    z-index: 99;
    top: 0;

}



button:focus {
    outline: none;
}
