p {
    color: green;
}

.map {
    position: absolute;
    position: fixed;
    right: 0;
    top: 0;
    overflow: hidden;
    box-shadow: -10px 0 5px -5px #333, 10px 0 5px -5px #333;
    border-radius: 5px;
    margin-right: 5px;
    border-bottom-left-radius: 5px ;
    height: 100%;
}

.walk-btn {
    background-color: transparent;
    text-decoration: none;
}
.walk-btn:hover {
    box-shadow: none;
    font-weight: 900;
}

.Popup {
    box-shadow: none;
    width: 500px;
    height: 200px;
    opacity: 0.66;
}

.icon {
    width: 25px;
    height: 25px;
    color: greenyellow;
}

.info {
    color: #000;
    opacity: 1;
    background-color: transparent;
}
