p {
    color: #FFF;
}

.map {
    position: absolute;
    position: fixed;
    right: 0;
    top: 1%;
    overflow: hidden;
    height: 100%;
    border-radius: 6px;
}

.walk-btn {
    background-color: transparent;
    text-decoration: none;
    border: none;
    box-shadow: none;
}
.walk-btn:hover {
    box-shadow: none;
    font-weight: 900;
}

.Popup {
    box-shadow: none;
    width: 500px;
    height: 200px;
    opacity: 0.66;
}

.icon {
    width: 25px;
    height: 25px;
    color: red;
}

.info {
    color: #000;
    opacity: 1;
    background-color: transparent;
}

