

.block-left{
    width:50%;
    height: 100%;
    background-image: url('./bg.jpeg');
    background-size:100% ;
    background-attachment: fixed;
    float:right;

  }
  .block-left h2 {
      text-align: center;
      color: beige;
      padding-top: 10px;
      font-weight: 200;
  }

  .block-right{
    width:50%;
    height: 100vh;
    background-color:#10102b;
    float: right;
    position: absolute;
    position: fixed;
    text-align: center;
  }
  .block-right h2 {
      padding-top: 45px;
      text-align: center;
      color: beige;
      font-weight: 200;
  }

  .card1 {
    /* Add shadows to create the "card" effect */
    transition: 0.3s;
    width: 50%;
    padding-top: 10px;
    margin-top: 30px;
    margin-bottom: 30px;
    padding-bottom: 20px;
    right: 50%;
    transform: translateX(46%);
    margin-left: 10px;
    text-align: center;
    background-color: #FFF;
    background: rgba(142, 72, 5, 0.300);
    background-color : rgba(255,255,255,0.16);
    border-color: #ffaf00;
    border: 10px;
    color: #ffaf00;
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;        /* display: none; */
    
  }

  .iconLike {
      margin: 0;
      padding: 0;
      float: right;
      margin-bottom: 2px;
  }

  .profile-pic {
    border-radius: 50%;
    position: relative;
    height: 150px;
    width: 150px;
    left: 50%;
    transform: translateX(-50%);
    background-size: cover;
    background-position: center;
    background-blend-mode: multiply;
    vertical-align: middle;
    text-align: center;
    color: transparent;
    transition: all .3s ease;
    text-decoration: none;
    cursor: pointer;
    background-image: url('../../back.jpeg');
}

.profile-pic:hover {
    background-color: rgba(0,0,0,.5);
    color: #fff;
    transition: all .3s ease;
    text-decoration: none;
}

.profile-pic span {
    display: inline-block;
    
    padding-bottom: 5em;
}
.inputContainer {
  width: 75%;
  margin-top: 25px;
  position: relative;
  margin-left: 12%;
}
.inputContainer input {
  border-color: beige;
  text-align: center;
}

  





  @media screen and (max-width: 910px) {
    .block-right {
        position: relative;
        width: 100%;
    }
    .block-left {
        width: 100%;
 
     }

  }



